<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- App name and toggle get grouped for better mobile display -->
    <img src="/assets/images/intel-logo-white-100.png">
    <div class="navbar-header">
      <!-- <img src="/assets/images/logotop.gif" /> -->
      <a class="navbar-brand">{{title}}</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
    </div>
  </div>
</nav>
<div class="container">
  <!-- <div class='panel-heading'>
    <h4>BigPanda Event Simulator</h4>
  </div> -->
  <div class='panel panel-default'>
    <div class='panel-body'>
      <form class="form-horizontal ng-pristine ng-valid col-xs-6 col-md-8">
        <div class="form-group">
          <label for="Data Source">Select a Data Source:</label>
          <div class="btn-group" role="group" data-toggle="buttons">
            <button type="button" class="btn btn-{{activeQueue == 1 ? 'primary' : 'secondary'}}" (click)='setQueue("Event_Management_SCOM",1)'>SCOM
              <i class="intelicon-server-solid"></i>
            </button>
            <button type="button" class="btn btn-{{activeQueue == 2 ? 'primary' : 'secondary'}}" (click)='setQueue("Event_Management_Email",2)'>Email
              <i class="intelicon-email-message-solid"></i>
            </button>
            <button type="button" class="btn btn-{{activeQueue == 3 ? 'primary' : 'secondary'}}" (click)='setQueue("Event_Management_Spectrum",3)'>Spectrum
              <i class="intelicon-network"></i>
            </button>
            <button type="button" class="btn btn-{{activeQueue == 4 ? 'primary' : 'secondary'}}" (click)='setQueue("Event_Management",4)'>DSM
              <i class="intelicon-desktop"></i>
            </button>
            <button type="button" class="btn btn-{{activeQueue == 5 ? 'primary' : 'secondary'}}" (click)='setQueue("Event_Management_Testing",5)'>Testing
              <i class="intelicon-bug"></i>
            </button>
          </div>
        </div>
        <div class="form-group">
          <label for="Severity">Choose a Severity:</label>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-danger {{activeSev == 1 ? 'active' : ''}}" (click)='setSev("Critical",1)'>Critical</button>
            <button type="button" class="btn btn-default {{activeSev == 2 ? 'active' : ''}}" (click)='setSev("Warning",2)'>Warning</button>
            <button type="button" class="btn btn-primary {{activeSev == 3 ? 'active' : ''}}" (click)='setSev("Ok",3)'>Ok</button>
          </div>
        </div>
        <div class="form-group">
          <label for="Hostname">Hostname</label>
          <input type="text" class="form-control" name="inputHostname" placeholder="Enter hostname" [(ngModel)]='inputHostname'>
          <span id="helpBlock" class="label label-warning" *ngIf='!inputHostname'>*Required field</span>
        </div>
        <div class="form-group">
          <label for="Check">Event Category</label>
          <input type="text" class="form-control" name="inputEventCat" placeholder="Enter event category" [(ngModel)]='inputEventCat'>
        </div>
        <div class="form-group">
          <label for="Check">Check</label>
          <input type="text" class="form-control" name="inputCheck" placeholder="Enter check" [(ngModel)]='inputCheck'>
          <span id="helpBlock" class="label label-warning" *ngIf='!inputCheck'>*Required field</span>
        </div>
        <div class="form-group">
          <label for="Check">Description</label>
          <!-- <input >                 -->
          <textarea type="text" class="form-control" name="inputDescription" style="height:150px;" placeholder="Enter Description" [(ngModel)]='inputDescription'></textarea>
        </div>
        
        <div class="form-group">
          <label for="Additional Values">Additional Values</label>
        </div>
        <form class="form-inline ng-pristine ng-valid">
          <div class="form-group">
            <div>
              <input type="text" class="form-control" placeholder="key" name="key" [(ngModel)]='_Key'>
              <input type="text" class="form-control" placeholder="value" name="value" [(ngModel)]='_Value'>
              <button class="btn btn-default" type="submit" [disabled]='!_Key || !_Value' (click)='addRow()'><i class="intelicon-plus-outlined" aria-hidden="true"></i>Add Row</button>
              <button class="btn btn-default" type="submit" [disabled]='!fieldArray.length' (click)='removeLastRow()'><i class="intelicon-close-outlined" aria-hidden="true"></i>Remove Last Row</button>
            </div>
          </div>
        </form>
        <br>
        <div class="form-group">
          <table class="table table-striped" *ngIf='fieldArray && fieldArray.length'>
            <thead>
              <tr>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let keyPair of fieldArray">
                <td>{{ keyPair.key }}</td>
                <td>{{ keyPair.value }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default" (click)="sendBPEvent()" [disabled]='!inputHostname || !inputCheck'>Submit
            <i class="intelicon-send"></i>
          </button>
        </div>
        <div class="form-group">
            <div class="alert alert-success" role="alert" *ngIf='success'>
                <strong>Well done!</strong> You successfully queued a message
            </div>
        </div>
      </form>
    </div>
    <div class="progress" *ngIf='loading'>
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"
        style="width: 100%">
        Loading
      </div>
    </div>
  </div>
  <footer>
    <div class="row">
      <div class="col-xs-6 col-md-2">
        <h3>About IT</h3>
        <ul>
          <li>
            <a href="https://soco.intel.com/community/it">IT Organization</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-2">
        <h3>Related Sites</h3>
        <ul>
          <li>
            <a href="https://employeecontent.intel.com/content/cs/home/corporateservices.html">Corporate Services</a>
          </li>
          <li>
            <a href="https://circuit.intel.com/content/entrypage/619c77cd-b4d0-4788-9c64-d9897fd45751.html">HR Help</a>
          </li>
          <!-- <li>
                      <a href="">Secure Intel</a>
                  </li> -->
        </ul>
      </div>
      <div class="col-xs-6 col-md-2">
        <h3>Contact Us</h3>
        <ul>
          <li>
            <a href="https://it.intel.com/#/">TAC Phone Numbers</a>
          </li>
          <!-- <li>
                      <a href="">Find IT Service Centers</a>
                  </li> -->
          <li>
            <a href="https://wiki.ith.intel.com/display/MCP/SME+Event+Monitoring+DevOps+Home+Page">Event Monitoring & Controls Wiki Site</a>
          </li>
          <li>
            <a href="mailto:it.sme.event.monitoring.devops@intel.com">Send Email</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-6">
        <span class="pull-right">© Intel Corporation |
          <a href="http://legal.intel.com/index.htm">Legal</a> |
          <a href="https://employeecontent.intel.com/content/corp/Global_Employee_and_Global_Contingent_Worker_Privacy.html">Employee/Contingent Worker Privacy</a>
        </span>
      </div>
    </div>
  </footer>
</div>